.SubMenu{
  width:210px;
  border-right: 1px solid red;
  cursor: pointer;
}
.FirstName{
  padding:5px 0;
}
.FirstName.current{
  background:yellow;
}
.SubMenu a{
  text-decoration: none;
  color:#000;
}